.dark-mode {
  background-color: #111729;
  color: white;
}
.dark-mode .header .nav .nav__figure .nav__img {
  content: url("../img/alarado-white.svg");
}
.dark-mode .header .nav .nav__link {
  color: #909193;
}
.dark-mode .header .nav .nav__link:hover {
  color: #F2F9FE;
}
.dark-mode .header .nav .nav__link--active {
  color: #FFFFFF;
}
.dark-mode .content .hero__info .hero__subtitle {
  color: #F2F9FE;
}
.dark-mode .content .hero__info .hero__title {
  color: #F2F9FE;
}
.dark-mode .content .hero__info .hero__cta .cta:last-child {
  background-color: #111729;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background-color: #F2F9FE;
}

.header .nav {
  --menu-mostrar: polygon(0 0, 100% 0, 100% 0, 0 0);
  --opacidad-abrir: 1;
  --puntero-abrir: unset;
  --opacidad-cerrar: 0;
  --puntero-cerrar: none;
  display: grid;
  justify-content: space-between;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo menu";
  align-items: center;
  height: 64px;
  width: 90%;
  max-width: 1440px;
  margin: 1rem auto;
}
@media (min-width: 920px) {
  .header .nav {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "logo menu switch";
  }
}
.header .nav:has(:checked) .nav__menu {
  --menu-mostrar: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --opacidad-abrir: 0;
  --puntero-abrir: none;
  --opacidad-cerrar: 1;
  --puntero-cerrar: unset;
  transition: all 0.3s ease;
}
.header .nav:has(:checked) .switch {
  transition: all 0.3s ease;
  display: flex;
}
.header .nav input[type=checkbox] {
  display: none;
}
.header .nav__menu {
  padding: 6rem 0;
  list-style: none;
  position: fixed;
  inset: 0 0 0 40%;
  background-color: #FFFFFF;
  display: grid;
  gap: 4rem;
  justify-content: center;
  align-content: flex-start;
  border-radius: 1rem;
  clip-path: var(--menu-mostrar);
  transition: clip-path 0.5s;
  text-align: center;
  z-index: 10;
}
@media (min-width: 920px) {
  .header .nav__menu {
    width: 100%;
    padding: 0;
    clip-path: none;
    inset: initial;
    grid-auto-flow: column;
    justify-self: center;
    grid-area: menu;
    align-self: center;
    position: relative;
    background-color: transparent;
  }
}
.header .nav__menu .nav__link {
  text-decoration: none;
  color: #909193;
  font-size: 4rem;
  transition: all 0.3s ease;
  font-weight: 600;
}
@media (min-width: 920px) {
  .header .nav__menu .nav__link {
    color: #909193;
    font-size: 1.6rem;
    font-weight: 400;
  }
}
.header .nav__menu .nav__link:hover {
  color: #223344;
}
.header .nav__menu .nav__link--active {
  color: #223344;
  font-weight: 600;
}
.header .nav .btn-request {
  display: none;
}
@media (min-width: 920px) {
  .header .nav .btn-request {
    display: flex;
    grid-area: cta;
  }
}
.header .nav__label {
  grid-area: menu;
  z-index: 100;
  transition: 0.4s opacity;
}
.header .nav__label--open {
  opacity: var(--opacidad-abrir);
  pointer-events: var(--puntero-abrir);
}
@media (min-width: 920px) {
  .header .nav__label--open {
    opacity: 0;
    pointer-events: none;
  }
}
.header .nav__label--close {
  opacity: var(--opacidad-cerrar);
  pointer-events: var(--puntero-cerrar);
}
@media (min-width: 920px) {
  .header .nav__label--close {
    opacity: 0;
    pointer-events: none;
  }
}
.header .nav__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header .nav__logo {
  display: block;
  width: 150px;
  grid-area: logo;
}
.header .nav .switch {
  display: none;
  justify-self: flex-end;
  font-size: 17px;
  position: fixed;
  width: 64px;
  height: 34px;
  bottom: calc(50% - 34px);
  left: calc(60% + 60px);
  z-index: 10;
}
@media (min-width: 920px) {
  .header .nav .switch {
    display: flex;
    grid-area: switch;
    bottom: 0;
    left: 0;
    position: relative;
  }
}
.header .nav .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #223344;
  transition: 0.4s;
  border-radius: 30px;
}
.header .nav .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 1;
  background-color: #fff;
  transition: 0.4s;
}
.header .nav .sun img {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 10;
  width: 24px;
  height: 24px;
}
.header .nav .moon svg {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  width: 24px;
  height: 24px;
}
.header .nav .sun svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header .nav .moon svg {
  animation: tilt 5s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header .nav #switch:checked + .slider {
  background-color: #183153;
}
.header .nav #switch:focus + .slider {
  box-shadow: 0 0 1px #73C0FC;
}
.header .nav #switch:checked + .slider:before {
  transform: translateX(30px);
  background-color: #fff;
}

.content .hero {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1280px) {
  .content .hero {
    flex-direction: row-reverse;
    margin: 5rem auto;
    align-items: center;
  }
}
.content .hero__fig {
  width: 100%;
  text-align: center;
}
@media (min-width: 1280px) {
  .content .hero__fig {
    width: 50%;
  }
}
.content .hero__fig .home-img {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 1280px) {
  .content .hero__info {
    width: 50%;
  }
}
.content .hero__info .hero__subtitle {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #223344;
}
.content .hero__info .hero__title {
  font-size: 6rem;
  color: #223344;
  margin-bottom: 2rem;
}
@media (min-width: 980px) {
  .content .hero__info .hero__title {
    width: 800px;
  }
}
@media (min-width: 1280px) {
  .content .hero__info .hero__title {
    width: 400px;
    font-size: 7rem;
  }
}
.content .hero__info .hero__description {
  font-size: 1.7rem;
  color: #909193;
  line-height: 1.6;
  font-weight: 600;
}
@media (min-width: 600px) {
  .content .hero__info .hero__description {
    width: 500px;
  }
}
.content .hero__info .hero__cta {
  margin: 4rem 0;
  display: flex;
  gap: 1rem;
}
.content .hero__info .hero__cta .cta:first-child {
  width: 180px;
  height: 50px;
  border: none;
  background-color: #2A4DD0;
  border-radius: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.content .hero__info .hero__cta .cta:first-child:hover {
  background-color: #F2F9FE;
  color: #2A4DD0;
  box-shadow: 0 2px 10px 0 #2A4DD0;
}
.content .hero__info .hero__cta .cta:last-child {
  width: 180px;
  height: 50px;
  border: none;
  background-color: #F2F9FE;
  border-radius: 1rem;
  color: #2A4DD0;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-decoration-thickness: 2px;
  transition: all 0.2s ease;
}
.content .hero__info .hero__cta .cta:last-child:hover {
  transform: translateY(-2px);
  font-size: 1.7rem;
  color: #4CA154;
}
@media (min-width: 1280px) {
  .content .hero__info .hero__cta {
    margin: 6rem 0;
  }
}
.content .hero__info .hero__check {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}
.content .hero__info .hero__check .check {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #909193;
}

/*# sourceMappingURL=style.css.map */
